$black_primery:  #030303;
$black_standart: #000000;
$white_color: #FFFFFF;
$grey_fill: #E1E1E1;
$grey_symbols: #87838280;
$orange_accent: #F04C0C;
$grey_footer: #E3E3E3;
$black_about: #181818;
$grey_border:  0.492px solid rgba(255, 255, 255, 0.50);

