@charset "UTF-8";
/***
    The new CSS reset - version 1.11 (last updated 20.9.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}
/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}
/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}
/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}
/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}
/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}
/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}
/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}
/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}
/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}
/* remove default dot (•) sign */
::marker {
  content: initial;
}
/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}
/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}
/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}
/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@font-face {
  font-family: "Inter";
  src: url("/web-portfolio/fonts/Inter-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("/web-portfolio/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("/web-portfolio/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("/web-portfolio/fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
body {
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
}
h1 {
  font-weight: 600px;
}
p {
  font-weight: 400px;
}
.section {
  background-color: #030303;
  margin: auto;
  max-width: 375px;
  padding: 0 28px;
}
.head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
  justify-items: baseline;
  padding-top: 20px;
  padding-bottom: 24px;
}
.phone {
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
}
.contact {
  font-style: normal;
}
.address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  gap: 5px;
}
.burger-menu {
  background-image: url("data:image/svg+xml,%3csvg%3e%3csymbol%20id='burger'%20xmlns='http://www.w3.org/2000/svg'%20width='29'%20height='20'%20fill='none'%3e%3cpath%20d='M22%207H1M28%201H1M28%2013H1M22%2019H1'%20stroke='%23fff'%20stroke-width='2'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/symbol%3e%3csymbol%20id='phone'%20xmlns='http://www.w3.org/2000/svg'%20width='23'%20height='23'%20fill='none'%3e%3cpath%20d='M13.938%205a5%205%200%200%201%203.95%203.95M13.938%201a9%209%200%200%201%207.95%207.94m-1%207.98v3a2%202%200%200%201-2.18%202%2019.791%2019.791%200%200%201-8.63-3.07%2019.5%2019.5%200%200%201-6-6%2019.79%2019.79%200%200%201-3.07-8.67A2%202%200%200%201%202.998%202h3a2%202%200%200%201%202%201.72c.127.96.362%201.903.7%202.81a2%202%200%200%201-.45%202.11l-1.27%201.27a16%2016%200%200%200%206%206l1.27-1.27a2%202%200%200%201%202.11-.45c.907.339%201.85.573%202.81.7a2%202%200%200%201%201.72%202.03Z'%20stroke='%23fff'%20stroke-width='2'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/symbol%3e%3csymbol%20id='dev-symbol'%20xmlns='http://www.w3.org/2000/svg'%20width='86'%20height='68'%20fill='none'%3e%3cpath%20d='M46.482%205.865a3.826%203.826%200%200%200-4.299%203.323L35.95%2057.394c-.268%202.102%201.274%203.758%203.322%204.298%202.098.561%204.117-.389%204.299-3.322l6.234-48.206c.27-2.088-1.217-4.017-3.322-4.299ZM78.249%2023.578%2057.017%2015.12a3.84%203.84%200%200%200-4.99%202.148%203.84%203.84%200%200%200%202.147%204.99l15.698%206.257-12.185%2011.71c-1.531%201.47-1.434%203.779-.11%205.431%201.347%201.68%203.439%201.579%205.433.11l16.478-15.848a3.82%203.82%200%200%200%201.104-3.5%203.862%203.862%200%200%200-2.343-2.84ZM31.6%2045.326%2015.9%2039.069%2028.087%2027.36a3.84%203.84%200%200%200%20.109-5.432%203.84%203.84%200%200%200-5.432-.11L6.282%2037.653a3.833%203.833%200%200%200-1.118%203.502%203.835%203.835%200%200%200%202.34%202.826l21.235%208.472c3.304.973%204.366-.453%204.99-2.147.754-1.982-.174-4.205-2.13-4.98Z'%20fill='%23878382'%20fill-opacity='.5'/%3e%3c/symbol%3e%3c/svg%3e");
}
.hero {
  position: relative;
  max-width: 320px;
}
.img-hero {
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
}
.svg-dev-symbol {
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  position: absolute;
  left: -11px;
  top: -9px;
}
.container-about {
  display: block;
  position: relative;
  text-align: center;
}
.about-title {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 8px;
  background-color: #F04C0C;
  border-radius: 18px;
  white-space: nowrap;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.wrap-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  max-width: 320px;
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 16px;
  border-radius: 20px;
  border: 0.492px solid rgba(255, 255, 255, 0.5);
  background-color: #181818;
  text-align: start;
}
.about-description {
  white-space: pre-wrap;
  line-height: 1.5;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.background-about {
  position: absolute;
  bottom: -10px;
  width: 275px;
  height: 250px;
  z-index: -1;
  border-radius: 20px;
  border: 0.492px solid 0.492px solid rgba(255, 255, 255, 0.5);
  left: 50%;
  -webkit-transform: translate(-50%);
     -moz-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #181818;
}
@media (min-width: 768px){
  .section {
    max-width: 582px;
  }
}
@media (min-width: 1440px){
  .section {
    max-width: 1440px;
  }
}
@media (max-width: 370px){
  .background-about {
    width: 85%;
  }
}