.about{
    position: relative;
    margin-bottom: 36px;
}

.container-about{
    display: block;
    position: relative;  
    text-align: center;
    z-index: 0; 
}

.container-about::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 275px;
    height: 250px;
    z-index: 0;
    border-radius: 20px;
    border: $grey_border;
    background-color: $black_about;
}

.about-title{
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    padding: 8px;
    background-color: $orange_accent;
    border-radius: 18px;
    white-space: nowrap;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.wrap-description{
    display: flex;
    margin: auto;
    position: relative;
    z-index: 1;
    max-width: 320px;
    padding-top: 20px;
    padding-right: 16px;
    padding-bottom: 20px;
    padding-left: 16px;
    border-radius: 20px;
    border: $grey_border;
    background-color: $black_about;
    text-align: start;
}

.about-description{
    white-space: pre-wrap;
    line-height: 1.5;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

//  === ====== SKILLS ====== ===
.title-soft-skils{
    color: $orange_accent;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 4px;
    
}

.soft-skills-wrap{
    position: relative;
    top: -12px;
    margin: auto;
    width: 220px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: auto;
    border-radius: 10px;
    background: linear-gradient(90deg, #FCFCFC 0.04%, #A7A7A7 99.94%);
}
.soft-skills-wrap::after{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: -8px; 
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 90px; 
    border-radius: 10px;
    background: linear-gradient(90deg, #E7E5E5 0.04%, #878787 99.94%);
}

.title-skill{
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: $black_primery;  
}

.item-skills:not(:last-child){
    margin-bottom: 2px;
}
//  === ====== Media ====== ===

@media (max-width: 370px) {
  .container-about::after {
    width: 85%;
  }
}

@media (min-width: 768px) {
    .about-title{
        width: 295px;
        padding: 14px;
    }
    .wrap-description{
        max-width: 380px;
    }
    .container-about::after{
        width: 335px;
    }
    .soft-skills-wrap{
        width: 280px;
    }
    .soft-skills-wrap::after{
        width: 260px;
    }
    .item-skills{
        margin-bottom: 8px;
    }

}