.footer{
   background: $grey_footer; 
   color: $black_standart;
}

.wrap-footer{
    padding-top: 24px;
    padding-bottom: 25px;
}

.list-navigation-footer{
    text-align: center;
}

.item-navigation{
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.item-navigation:last-child{
    margin-bottom: 48px;
}

.svg-phone-footer{
    stroke: $black_standart;
}

.phone-footer{
   display: flex;
   justify-content: center;
   gap: 12px;
   margin-bottom: 16px;

   font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.social-link-footer{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 50px;
}

.svg-footer{
    stroke: $black_standart;
}

.cv{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.small-text{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
}

