.hero{
    position: relative;
 
    margin: auto;
    max-width: 320px;
    bottom: -38px;
    
}
.img-hero{
    flex-shrink: 0;
}
.svg-dev-symbol{
    flex-shrink: 0;
    position: absolute;
    left: -11px;
    top: -9px;
}